<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender class="org.apache.log4j.ConsoleAppender" name="console">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %-17c{2} (%13F:%L) 
				%3x - %m%n" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="file">
		<param name="File" value="/home/logs/caocao/common-default.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="=%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n" />
		</layout>
	</appender>
    <logger name="jdbc.sqlonly" additivity="false">
		<level value="info" />
	<appender-ref ref="console"/>
	</logger>
	
	<logger name="io.netty" additivity="false">
		<level value="info" />
	<appender-ref ref="console"/>
	</logger>
<!--     <logger name="org.springframework" additivity="false">
		<level value="debug" />
	<appender-ref ref="console"/>
	</logger>
    <logger name="org.mybatis" additivity="false">
		<level value="debug" />
	<appender-ref ref="console"/>
	</logger> -->
   <logger name="com.caocao.service.integration.iget" additivity="false">
   	<level value="info" />
	<appender-ref ref="console"/>
   </logger>
      <logger name="com.caocao.server.extend.ExceptionHandler" additivity="false">
   	<level value="info" />
	<appender-ref ref="console"/>
   </logger>
   <logger name=" com.caocao.service.integration.gis.YunTu" additivity="false">
   	<level value="error" />
	<appender-ref ref="console"/>
   </logger>
  
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>